<div class="container">
	<% if @photo == nil %>
	<div class="row">
		<h2> We're out of photos for you to vote on</h2>
	</div>
	<% end %>
	<% if @photo != nil %>
	<div class="row">
		<h1>What is this food?</h1>
		<% if @photo.name %> 
			<h2>Food: <%= @photo.name %></h2>
		<% end %>
	</div>
	<div class="row">		
		<img style="height: 250px; width: 250px" src=<%= @photo.url %>></img>
	</div>
	<br>
	<div class="row">
		<div id="voting-form">
			<input id="photo-id" type="hidden" value=<%= @photo.id %>>
			<button name="type" value="salad">Salad</button>
			<button name="type" value="sandwhich">Sandwhich</button>
			<button name="type" value="soup">Soup</button>
		</div>
	</div>
	<% end %>
</div>