<div class="container">
	<% if @food_name == nil %>
	<div class="row">
		<h2> We're out of photos for you to vote on</h2>
	</div>
	<% end %>
	<% if @food_name != nil %>
	<div class="row">
		<h1>What is this food?</h1><br>
	</div>
	<div class="row">
		<img style="height: 300px; width: 300px" src=<%= @photo_url %>></img>
	</div>
	<div class="row">
		<span>Photo by <a href="<%= @photographer_url %>"><%= @photographer_name %></a> on <a href="https://unsplash.com/?utm_source=soup_salad_sandhwhich&utm_medium=referral">Unsplash</a></span>
	</div>
	<br>
	<div class="row">
		<div id="voting-form">
			<input id="food_name" type="hidden" value=<%= @food_name %>>
			<button name="type" value="salad">Salad</button>
			<button name="type" value="sandwhich">Sandwhich</button>
			<button name="type" value="soup">Soup</button>
		</div>
	</div>
	<% end %>
</div>