<div class="container">
	<% if @food_name == nil %>
	<div class="row">
		<h2> We're out of photos for you to vote on</h2>
	</div>
	<% end %>
	<% if @food_name != nil %>
	<div class="row">
		<h1>What is this food?</h1><br>
	</div>
	<div class="row">
		<%= @html_to_embed.html_safe %>
	</div>
	<br>
	<div class="row">
		<div id="voting-form">
			<input id="food_name" type="hidden" value=<%= @food_name %>>
			<button name="type" value="salad">Salad</button>
			<button name="type" value="sandwich">Sandwich</button>
			<button name="type" value="soup">Soup</button>
		</div>
	</div>
	<% end %>
</div>